* {
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease;
  scrollbar-width: thin;
  user-select: none;
}
textarea {
  transition: none;
  /* transition: all 0.1s ease; */
}
